#* @vtlvariable name="options" type="java.util.Map" *#
#* @vtlvariable name="selectedId" type="java.lang.String" *#
#controlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters.noHeader)

<select name="$customField.id" id="$customField.id" class="mite-project-selector-select" >
  #foreach ($option in $options.entrySet())
    #if ( $selectedId == $option.key )
    <option selected="selected" value="$option.key">$option.value</option>
    #else
    <option value="$option.key">$option.value</option>
    #end
  #end
</select>

#controlFooter ($action $fieldLayoutItem.fieldDescription $displayParameters.noHeader)